$grid-columns: 12;
// Extra small devices (portrait phones, less than 576px) // from bootstrap
@media (max-width: 575.98px) {
  .container {
    max-width: 510px;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-toggler {
    order: 1;
  }
  .navbar-brand {
    order: 1;
  }
  .navbar-collapse {
    margin-top: 20px;
    order: 2;
  }
  @include col(col-xs, $grid-columns);
}

// Small devices (landscape phones, 576px and up) // from bootstrap
// col-sm-
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .navbar-nav {
    flex-direction: column;
  }
  // .collapse {
  //   display: none;
  // }
  @include col(col-sm, $grid-columns);
}

// Medium devices (tablets, 768px and up) // from bootstrap
// col-md-
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  @include col(col-md, $grid-columns);
}

// Large devices (desktops, 992px and up) // from bootstrap
// col-lg-
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  @include col(col-lg, $grid-columns);
}

// Extra large devices (large desktops, 1200px and up) // from bootstrap
// col-xl-
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  @include col(col-xl, $grid-columns);
}
