$grid-columns: 12;
@mixin col($property) {
  @for $i from 1 through $grid-columns {
    $value: percentage($i / $grid-columns);
    .#{$property}-#{$i} {
      position: relative;
      width: 100%;
      flex: 0 0 $value;
      width: $value;
    }
  }
}
