$grid-columns: 12;
@mixin col($property) {
  @for $i from 1 through $grid-columns {
    $value: percentage($i / $grid-columns);
    .#{$property}-#{$i} {
      display: flex;
      position: relative;
      flex-direction: column;
      word-wrap: break-word;
      flex: 0 0 $value;
      width: $value;
    }
  }
}
