@import "variables";
@import "mixins";
*,
::after,
::before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
div {
  display: block;
}
img {
  vertical-align: middle;
  border-style: none;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.container {
  width: 100%;
}
.container-fluid {
  width: 100%;
}
.container,
.container-fluid {
  display: block;
  .row {
    display: flex;
    flex-wrap: wrap;
    .col {
      position: relative;
      width: 100%;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    @include col(col);
  }
}
.rounded {
  border-radius: 0.25rem !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.blur {
  filter: blur(5px);
}
.visible {
  visibility: visible !important;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
@import "alert";
@import "btn";
@import "navbar";
@import "media";
