@import "variables";
@import "mixins";
*,
::after,
::before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
// div {
//   display: block;
// }
img {
  vertical-align: middle;
  border-style: none;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
ul {
  margin-top: 0;
}
.container {
  width: 100%;
}
.container-fluid {
  width: 100vw;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  // width: 100%;
  border: red 1px solid;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-wrap: wrap;
    .col {
      position: relative;
      padding-right: 15px;
      padding-left: 15px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    @include col(col);
  }
}
.rounded {
  border-radius: 0.25rem !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.blur {
  filter: blur(5px);
}
.visible {
  visibility: visible !important;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.modal,
.hidden {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: 1050;
  z-index: 1072;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
}
.modal-dialog {
  border-radius: 1rem;
  // max-width: 50%;
  margin: 10% auto;
  background-color: white;
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    font-size: 1.5em;
    .close {
      margin-top: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: $red;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
}
@import "alert";
@import "btn";
@import "navbar";
@import "media";
